/* body, html {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #282c34;
} */

.App {
  text-align: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  border: 200px;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  /* grid-auto-columns: 1fr; */
  /* grid-template-rows: repeat(3, 500px); */
  /* background-color: #2196F3; */
  /* padding: 10px; */
  grid-gap: 1em;
}

.grid-item {
  text-align: center;
}

.search {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width : 1368px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


